0.0.2/OCWebService/web/OCWebServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<definitions targetNamespace="http://web.OpenCapture.filterlogic.net/" name="OCWebServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://web.OpenCapture.filterlogic.net/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://web.OpenCapture.filterlogic.net/" schemaLocation="OCWebServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="OpenBatch">
    <part name="parameters" element="tns:OpenBatch"/>
  </message>
  <message name="OpenBatchResponse">
    <part name="parameters" element="tns:OpenBatchResponse"/>
  </message>
  <message name="GetBatchList">
    <part name="parameters" element="tns:GetBatchList"/>
  </message>
  <message name="GetBatchListResponse">
    <part name="parameters" element="tns:GetBatchListResponse"/>
  </message>
  <message name="GetPage">
    <part name="parameters" element="tns:GetPage"/>
  </message>
  <message name="GetPageResponse">
    <part name="parameters" element="tns:GetPageResponse"/>
  </message>
  <message name="authenticate">
    <part name="parameters" element="tns:authenticate"/>
  </message>
  <message name="authenticateResponse">
    <part name="parameters" element="tns:authenticateResponse"/>
  </message>
  <message name="CloseBatch">
    <part name="parameters" element="tns:CloseBatch"/>
  </message>
  <message name="CloseBatchResponse">
    <part name="parameters" element="tns:CloseBatchResponse"/>
  </message>
  <message name="CreateBatch">
    <part name="parameters" element="tns:CreateBatch"/>
  </message>
  <message name="CreateBatchResponse">
    <part name="parameters" element="tns:CreateBatchResponse"/>
  </message>
  <message name="CreateBatchClass">
    <part name="parameters" element="tns:CreateBatchClass"/>
  </message>
  <message name="CreateBatchClassResponse">
    <part name="parameters" element="tns:CreateBatchClassResponse"/>
  </message>
  <message name="OpenBatchClass">
    <part name="parameters" element="tns:OpenBatchClass"/>
  </message>
  <message name="OpenBatchClassResponse">
    <part name="parameters" element="tns:OpenBatchClassResponse"/>
  </message>
  <message name="CloseBatchClass">
    <part name="parameters" element="tns:CloseBatchClass"/>
  </message>
  <message name="CloseBatchClassResponse">
    <part name="parameters" element="tns:CloseBatchClassResponse"/>
  </message>
  <message name="GetSessions">
    <part name="parameters" element="tns:GetSessions"/>
  </message>
  <message name="GetSessionsResponse">
    <part name="parameters" element="tns:GetSessionsResponse"/>
  </message>
  <portType name="OCWebService">
    <operation name="OpenBatch">
      <input message="tns:OpenBatch"/>
      <output message="tns:OpenBatchResponse"/>
    </operation>
    <operation name="GetBatchList">
      <input message="tns:GetBatchList"/>
      <output message="tns:GetBatchListResponse"/>
    </operation>
    <operation name="GetPage">
      <input message="tns:GetPage"/>
      <output message="tns:GetPageResponse"/>
    </operation>
    <operation name="authenticate">
      <input message="tns:authenticate"/>
      <output message="tns:authenticateResponse"/>
    </operation>
    <operation name="CloseBatch">
      <input message="tns:CloseBatch"/>
      <output message="tns:CloseBatchResponse"/>
    </operation>
    <operation name="CreateBatch">
      <input message="tns:CreateBatch"/>
      <output message="tns:CreateBatchResponse"/>
    </operation>
    <operation name="CreateBatchClass">
      <input message="tns:CreateBatchClass"/>
      <output message="tns:CreateBatchClassResponse"/>
    </operation>
    <operation name="OpenBatchClass">
      <input message="tns:OpenBatchClass"/>
      <output message="tns:OpenBatchClassResponse"/>
    </operation>
    <operation name="CloseBatchClass">
      <input message="tns:CloseBatchClass"/>
      <output message="tns:CloseBatchClassResponse"/>
    </operation>
    <operation name="GetSessions">
      <input message="tns:GetSessions"/>
      <output message="tns:GetSessionsResponse"/>
    </operation>
  </portType>
  <binding name="OCWebServicePortBinding" type="tns:OCWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="OpenBatch">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetBatchList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetPage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="authenticate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CloseBatch">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CreateBatch">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CreateBatchClass">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="OpenBatchClass">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CloseBatchClass">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetSessions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="OCWebServiceService">
    <port name="OCWebServicePort" binding="tns:OCWebServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

